<ul class="nav navbar-nav">
  <li><%= link_to 'Home', root_path %></li>
  <% if current_user %>
    <li><%= link_to 'Task list', tasks_path %></li>
    <li><%= link_to 'Settings', edit_user_registration_path %></li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Register', new_user_registration_path %></li>
  <% end %>
</ul>
